/***** Background *****/
#navBanner {
    -fx-background-color: #4e5f70;
}

#logoIcon {
    -fx-background-color: #374656;
}

.navOption:hover {
    -fx-background-color: #3f5060;
    -fx-cursor: hand;
}

.menuOption:hover {
    -fx-background-color: #afc0d4;
    -fx-cursor: hand;
}

#menuBanner {
    -fx-background-color: #d7dde4;
}

#body {
    -fx-background-color: #f0f3f6;
}

#planningCtn, #calendarCtn {
    -fx-background-color: #ffffff;
}

/***** Font *****/
#navBanner * {
    -fx-text-fill: #ffffff;
}

#menuBanner .label {
    -fx-text-fill: #7e8ea0;
}

#body {
    -fx-text-fill: #4e5f70;
}

#navBanner .label, #menuBanner .label, #body .label {
    -fx-font-size: 12;
}

#sectionTitleLbl {
    -fx-font-size: 16;
}

/***** Pictures *****/
#dayoffRequestsIcon, #planningIcon, #validateIcon, #reportIcon, #settingIcon, #directoryIcon, #userIcon, #logoIcon {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#dayoffRequestsIcon {
    -fx-background-image: url('../img/paper-plane.png');
}

#planningIcon {
    -fx-background-image: url('../img/calendar.png');
}

#validateIcon {
    -fx-background-image: url('../img/check.png');
}

#reportIcon {
    -fx-background-image: url('../img/chart-bar.png');
}

#settingIcon {
    -fx-background-image: url('../img/cog.png');
}

#directoryIcon {
    -fx-background-image: url('../img/users.png');
}

#userIcon {
    -fx-background-image: url('../img/woman_icon.png');
    -fx-background-size: 16;
    -fx-background-color: #d6dd88;
    -fx-background-radius: 100%;
    -fx-width: 25;
    -fx-height: -fx-width;
    -fx-min-width: -fx-width;
    -fx-min-height: -fx-height;
    -fx-max-width: -fx-width;
    -fx-max-height: -fx-height;
}

#logoIcon {
    -fx-background-image: url('../img/logo.png');
    -fx-background-size: contain;
}

.menuIcons, .navIcons {
    -fx-width: 12;
    -fx-height: 12;
    -fx-min-width: -fx-width;
    -fx-min-height: -fx-height;
    -fx-max-width: -fx-width;
    -fx-max-height: -fx-height;
}

/***** calendar & planning *****/
#planning .holiday, #calendar .holiday {
    -fx-background-color: #d2d2d2;
}
#planning .holiday .label, #calendar .holiday .label {
    -fx-text-fill: white;
}

#planning .workday, #calendar .workday {
    -fx-background-color: #edf5fa;
}

#planning .dayoffMorning, #calendar .dayoffMorning {
    -fx-background-color: linear-gradient(to right, #26a462 0%, #26a462 50%, #edf5fa 50%, #edf5fa 100%);
}

#planning .dayoffAfternoon, #calendar .dayoffAfternoon {
    -fx-background-color: linear-gradient(to right, #edf5fa 0%, #edf5fa 50%, #26a462 50%, #26a462 100%);
}

#planning .dayoffAllDayLong, #calendar .dayoffAllDayLong {
    -fx-background-color: #26a462;
}

/***** calendar *****/
#calendar .label {
    -fx-alignment: center;
}

#calendar .month {
    -fx-font-weight: bold;
}

#calendar .week {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-font-weight: bold;
}

#calendar .cell {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0;
}

#calendar .firstColumn {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 1;
}

#calendar .currentDay, #calendar .holiday .currentDay {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}

/***** planning *****/
#planning .profession {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

#planning .month {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 1 1 0 0;
}

#planning .week {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
}

#planning .cell, #planning .day {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0;
}

#planning .username {
    -fx-border-color: #b9b9b9;
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 1;
}

#planning .label {
    -fx-alignment: center;
}

#planning .week .label, #planning .username .label, #planning .profession .label {
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 5;
}

#planning .profession .label {
    -fx-font-weight: bold;
}

#planning .month {
    -fx-font-weight: bold;
}

#planning .week .label {
    -fx-text-fill: #b9b9b9;
    -fx-font-size: 10;
}

#planning .currentDay, #planning .holiday .currentDay {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}

/***** unclassified *****/
.separatorSectionTitle {
    -fx-border-color: black;
}

.navOption {
    -fx-padding: 10;
}

.navOption .label {
    -fx-padding: 0 0 0 10;
}

.menuOption {
    -fx-padding: 0 10 0 10;
}

#directoryIcon {
    -fx-padding: 5px;
    -fx-border-insets: 10px;
    -fx-background-insets: 5px;
}

#userIcon {
    -fx-marging: 0 0 0 10;
}

.selected_option {
    -fx-background-color: #009EE3;
}


/* https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */
